
/* html {
    margin-bottom: 10px;
} */

.ios {
    zoom: 3;
}
.android {
    zoom: 3;
}
.web {
    zoom: 1;
}


h1 {
    font-family: "Futura";
    font-size: 20px;
    top: 35px;
    left: 128px;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #71a7d8;
    white-space: nowrap;
}
h1:before {
    content: attr(data-heading);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 59%;
    color: #fff;
}
h1 {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.mystyle {
    font-size: 10pt; 
    font-family: Arial;
    border-collapse: collapse; 
    text-align: center;
    margin-top: 20px;
    width: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 15px;
}

/* ultima linea */
.mystyle tr:nth-child(10) {
    border-bottom: 1px solid #6B8068;
    /* padding: 5px; */
    /* border: 1px solid #6B8068; */
}
/* primera columna */
.mystyle td:first-child {
    /* column-width: 100px; */
    background-color: #6B8068;
    color: white;
    border-top: 1.5px solid white;
}
/* columna compra */
.mystyle td {
    border-top: 0.5px solid #6B8068;
}

/* primera celda */
.mystyle th:first-child { 
	background-color: white;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.mystyle td {
    padding: 5px;
    border-right: 1px solid #6B8068;
}
.mystyle th {
    padding: 3px;
    /* border-right: 1px solid red; */
}
/* primera fila */
.mystyle th {
    background-color: #6B8068;
    color: white;
    /* border-bottom: 1px solid #6B8068; */
}

.mystyle .positivo {
    color: green;
}
.mystyle .negativo {
    color: red;
}
.mystyle .igual {
    color: black;
}



/*  ##################################################################  */
/*  ##################################################################  */
/*  ##################################################################  */

.mystyle2 {
    font-size: 9pt; 
    font-family: Arial;
    border-collapse: collapse; 
    text-align: center;
    height: 2575px;
    margin-bottom: 30px;
    width: 310px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mystyle2 td {
    padding: 5px;
    border-right: 1px solid #14202b;
    border-left: 1px solid #14202b;
}
.mystyle2 th {
    padding: 5px;
    border-right: 1px solid #14202b;
}
.mystyle2 tr {
    border-left: 1px solid #14202b;
}

/* tamaño de las columnas */
.mystyle2 th:nth-child(1n) {
    column-width: 30px;
}
.mystyle2 th:nth-child(2n) {
    column-width: 90px;
}
.mystyle2 th:nth-child(3n) {
    column-width: 60px;
}
.mystyle2 th:nth-child(4n) {
    column-width: 50px;
}
.mystyle2 th:nth-child(5n) {
    column-width: 50px;
}
.mystyle2 th:nth-child(6n) {
    column-width: 50px;
}
/* primera fila */
.mystyle2 th {
    background-color: black;
    color: white;
}
/* color segun clase */
.mystyle2 [class='positivo'] { 
    color: green;
}
.mystyle2 [class='negativo'] { 
    color: #f6465d;
}


/*  ##################################################################  */
/*  ##################################################################  */
/*  ##################################################################  */


.mystyle3 {
    font-size: 10pt; 
    font-family: Arial;
    border-collapse: collapse; 
    text-align: center;
    width: 300px;
    margin-bottom: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 750px;
}
/* primera fila */
.mystyle3 th {
    background-color: black;
    border-bottom: 1px solid greyred;
    color: white;
}
/* filas */
.mystyle3 td {
    padding: 4px;
    border-right: 1px solid #14202b;
    border-left: 1px solid #14202b;
    /* border-top: 0.5px solid red; */
    border-bottom: 0.5px solid grey;
}
.mystyle3 th {
    padding: 5px;
    border-right: 1px solid #000;
}
.mystyle3 tr {
    border-left: 1px solid #000;
}
/* primera col */
.mystyle3 td:first-child {
    font-size: 12pt; 
    column-width: 140px;
    background-color: black;
    color: white;
    border-top: 0.5px solid grey;
}
/* segunda col */
.mystyle3 th:nth-child(2n) {
    column-width: 80px;
}
/* tercera col */
.mystyle3 th:nth-child(3n) {
    column-width: 80px;
}




/*  ##################################################################  */
/*  ##################################################################  */
/*  ##################################################################  */


#btnDolar {
    opacity: 0.5;
}


.tablinks {
    font-size: 10pt;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 2px;
    position: relative;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}


/*  ##################################################################  */
/*  ##################################################################  */
/*  ##################################################################  */

.dark {
    background-color: #14202b;
    color: white;
}

.dark td {
    padding: 5px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.dark th {
    padding: 5px;
    border-bottom: 1px solid #fff;
    background-color: #14202b;
}

.dark a {
  color: white;
}

.dark th:first-child { 
	background-color: #14202b;
	border-top: 0.1px solid #14202b;
	border-left: 0.1px solid #14202b;
    /* border-bottom: 1px solid #fff; */
    border-right: 0.1px solid #14202b;
}

.dark .igual {
    color: white;
}


.dark .mystyle2 th {
    background-color: gray;
    border-right: 1px solid #14202b;
    border-bottom: 2px solid 14202b;
    color: white;
}

.dark .mystyle3 th {
    background-color: gray;
    border-right: 1px solid #14202b;
    /* border-bottom: 1px solid white; */
    color: white;
}

.dark .mystyle4 th {
    background-color: grey;
    border-right: 1px solid #14202b;
    border-bottom: 1px solid white;
    color: white;
}
.dark .mystyle4 td {
    background-color: #14202b;
    border-right: 1px solid white;
    border-left: 1px solid white;
    color: white;
}

.dark .mystyle4 [class='positivo'] { 
    color: green;
}
.dark .mystyle4 [class='negativo'] { 
    color: #f6465d;
}


/*  ##################################################################  */
/*  ##################################################################  */
/*  ##################################################################  */


.mystyle4 {
    font-size: 10pt; 
    font-family: Arial;
    border-collapse: collapse; 
    text-align: center;
    margin-bottom: 30px;
    height: 1600px;
    /* border-bottom: 1px solid #000; */
    width: 300px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mystyle4 td {
    padding: 5px;
    border-right: 1px solid #14202b;
    border-left: 1px solid #14202b;

}
.mystyle4 th {
    padding: 5px;
    border-right: 1px solid #14202b;
    font-size: 10px;
}
.mystyle4 tr {
    border-left: 1px solid #14202b;
}

/* tamaño de las columnas */
.mystyle4 th:nth-child(1n) {
    column-width: 80px;
}
.mystyle4 th:nth-child(2n) {
    column-width: 60px;
}
.mystyle4 th:nth-child(3n) {
    column-width: 45px;
}
.mystyle4 th:nth-child(4n) {
    column-width: 45px;
}
/* .mystyle4 tr:last-child {
    border-bottom: 0.5px solid gray;
} */
/* color segun clase */
.mystyle4 [class='positivo'] { 
    color: green;
}
.mystyle4 [class='negativo'] { 
    color: #f6465d;
}

.mystyle4 th {
    background-color: black;
    border-top: 1px solid #14202b;
    color: white;
}

.mystyle4 td:first-child {
    background-color: black;
    color: white;
    border-top: 0.5px solid grey;
}